img {
    height: 70px;
    width: 70px;
}

.image {
    display: flex;
    justify-content: center;
}

.news-container {
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
    width: 500px;
    margin-top: 100px;
}

.item {
    background-color: red;
    padding: 10px;
    text-align: center;
    color: black;
}